.Dictionary {
  margin-top: 50px;
  text-align: center;
}
h4 {
  color: rgb(85, 83, 83);
}
section {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 16px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 20px;
}
.Dictionary .search_txt {
  width: 60%;
  padding: 6px 4px;
  border-radius: 6px;

  border: 1px solid #ddd;
}
